<p>template-driven-form</p>

<div class="container">
  <h2 class="heading">Template Driven Form...</h2>
  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="userDetails.name"
        required
        #name="ngModel"
      />
      <!-- <div
        *ngIf="
          userForm.controls.name?.touched && userForm.controls.name?.invalid
        "
        class="text-danger"
      >
        Name is required.
      </div> -->
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>

      <div *ngIf="">

      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit.</button>
  </form>
  TODO: remove this: {{ userForm.name }}
</div>
